@import '../../style/variables.styl'

.AlgoVizContainer
  height 100vh
  width 100vw
  background linear-gradient(bottom left, lighten(color-light-blue, 10), color-light-blue, darken(color-light-blue, 10))
  display flex
  justify-content start
  align-content flex-start
  flex-wrap wrap
  font-family 'Noto Sans', Arial, sans-serif;
  