@import '../../style/variables.styl'

.AlgoVizContainer
  width 100vw
  background #79dbff
  display flex
  justify-content start
  align-content flex-start
  flex-wrap wrap
  font-family 'Open Sans', Arial, sans-serif;
  