@import '../../style/variables.styl'

.BlogContainer
  display block
  max-width 1200px
  margin: 50px auto
  font-family: 'Libre Baskerville', serif;
  
  h1,h2,h3
    display block
    margin-bottom 40px
  
  p
    display block
    margin 40px 0
    line-height 1.8rem