@import './variables.styl'

*
  margin 0
  padding 0

body
  height 100vh
  width 100vw
  font-size: 100%
  background linear-gradient(bottom left, lighten(color-light-blue, 10), color-light-blue, darken(color-light-blue, 10))
  font-family 'Noto Sans', Arial, sans-serif;

h1, h2, h3, h4
  margin 0
  font-family 'Raleway', sans-serif
  text-align center