@import './variables.styl'

*
  margin 0
  padding 0

body
  height 100vh
  padding-left menu-width

  @media screen and (max-width breakpoint-medium)
    padding-left 0
    padding-top menu-width

a
  color #1d9fcf
  text-decoration none

h1, h2, h3, h4
  margin 0
  text-align center

  a
    color #333

.pure-form

  input[type='text']
  input[type='email']
  input[type='password']
  input[type='number']
  select
  textarea
    margin-top 0
    box-shadow none
    border 0
    margin-right 20px
    margin-left 10px

  select
    color #333
    font-size 12px
    margin-top 2px

  label
    margin 0
    position relative
    top -3px
    font-size 12px

  button
    color #fff
    text-transform uppercase
    font-size 12px
    padding 9px 20px
    border-radius 3px
    margin-top 2px

    &.disabled, &.button-disabled
      background color-code-bg
      opacity .3

    &.button-primary
      background-color #1695c5

    &.button-secondary
      background-color color-red

.BuiltBy.large
  font-size 25px
  text-align center
  margin-top 50px
  font-family 'Open Sans', Arial, sans-serif
  font-weight 100
  color #666

  img
    vertical-align middle
    height 28px

  a, i
    color color-workshape

  i
    margin 0 5px

.page-title
  background lighten(color-code-bg, 10)
  height 100 vh
  position relative
  background-image url(/assets/cover-noise.png)
  background-size 150px 150px
  min-height 500px
  font-family 'Open Sans', Arial, sans-serif

  .inner
    position absolute
    width 100%
    top 50%
    transform translateY(-50%)
    text-align center

    a
      color #fff
      // font-weight 100
      text-shadow rgba(#000, .2) 0 1px 1px
      font-weight 100
      font-size 23px

      .bottom
        display block
        font-weight normal
        font-size 40px

  .illustration-intro
    margin auto
    display block
    width 320px
    max-width 100%

  .made-by
    color rgba(#fff, .7)
    font-weight 100
    margin-top 30px

    img
      vertical-align middle
      height 20px