// See: https://designschool.canva.com/blog/website-color-schemes/

// Colours

color-light-blue = #caebf2
color-grey = #a9a9a9
color-light-grey = #efefef
color-red = #ff3b3f

color-black = #262228
color-white = #ffffff

component-height = 80vh