// See: https://designschool.canva.com/blog/website-color-schemes/

// Colours

color-light-blue = #caebf2
color-grey = #a9a9a9
color-light-grey = #efefef
color-red = #ff3b3f
color-workshape = #e96132

color-black = #262228
color-white = #ffffff

component-height = 90vh

breakpoint-large = 1330px
breakpoint-medium = 1069px
breakpoint-small = 768px
breakpoint-tiny = 565px

color-code-bg = #255e73

menu-width = 60px