@import '../../style/variables.styl'

.BlogHeading
  background lighten(color-code-bg, 10)
  height 100vh
  position relative
  background-image url(../../assets/cover-noise.png)
  background-size 150px 150px
  min-height 500px
  font-family 'Open Sans', Arial, sans-serif
  background-attachment fixed

  &:after
    content ''
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    background-image url(../../assets/hexa-pattern.png)
    background-size 33px 39px
    opacity .2
    background-attachment fixed
    mix-blend-mode multiply

  .inner
    position absolute
    width 100%
    top 50%
    transform translateY(-50%)
    text-align center
    z-index 1

    @media screen and (max-width breakpoint-medium)
      margin-top (menu-width / 2)

    a
      color #fff
      // font-weight 100
      text-shadow rgba(#000, .2) 0 1px 1px
      font-weight 100
      font-size 23px

      .bottom
        display block
        font-weight normal
        font-size 40px

  .illustration-intro
    margin auto
    display block
    width 320px
    max-width 100%

  .made-by
    color rgba(#fff, .7)
    font-weight 100
    margin-top 30px

    img
      vertical-align middle
      height 20px