@import '../../style/variables.styl'

.PlotContainer
    width 55vw
    height component-height
    margin 1vh 5vw
    
    svg
      width 100%
      height 100%
      border solid 1px color-grey
      background-color color-white
      
      &.done
        .Edge
          stroke lighten(color-light-blue, 10)
          
        .ArrowHead
          path
            fill lighten(color-light-blue, 10)
            

        .Node
            fill lighten(color-light-blue, 10)
      
      .Node
        transition: fill .8s ease;
        fill darken(color-light-blue, 10)
        
        
        &.selected
          stroke red
          stroke-width 1
        
        &.visited
          fill color-grey
        
        &.current
          fill darken(color-grey, 20)

        
        &.hover
          stroke red
          stroke-width 2
          cursor e-resize
      
      .ArrowHead
        path
          transition: fill .8s ease;
          fill darken(color-light-blue, 20)
          
      
        &.traversed
          path
            fill color-grey

      .Node-label
        font-size 10px
        fill #cdcdcd
      
      .Node-visitLabel
        font-size 10px
        fill color-red
      
      .Edge
        transition: stroke .8s eae;
        stroke darken(color-light-blue, 20)
        stroke-width 1
        
        
        &.traversed
          stroke color-grey