@import '../../style/variables.styl'

.PlotExplained
  margin 5vh 5vw
  max-height component-height
  width 23vw
  background-color color-black
  color #ccc
  font-family 'Source Code Pro', sans-serif
  overflow hidden
  
  h2
    width 100%
    padding 10px 0
    background-color lighten(color-black, 20)
    font-family 'Noto Sans', Arial, sans-serif;
  
  ul
    padding 1vh 1vw
    list-style none
    max-height inherit
    overflow-y scroll
    
    li
      font-size 0.8rem
      
      &:last-child
        margin-bottom 100px
  
  @media screen and  (max-width: breakpoint-medium)
    h2
      font-size 1.2rem
  
  @media screen and  (max-width: breakpoint-small)
    display none