@import '../../style/variables.styl'

.PlotHeader
  padding 1vh 5vw
  display flex
  justify-content space-between
  width 100vw
  height 40px
  background-color alpha(color-black, 0.2)
  border-bottom 1px solid color-grey
  
  h1, form
    display inline-block
  
  h1
    color color-black
    margin-top 3px
    font-size 1.7rem
    
  label, button, select
    margin 0px 6px 10px 6px
    
  label
    line-height 40px
    vertical-align center
    font-size 0.9rem
  
  button
    
    &.button-disabled
      background-color color-grey
    
    &.button-primary
      background-color darken(color-light-blue,20)
    
    &.button-secondary
      background-color lighten(color-red, 20)