@import '../../style/variables.styl'

.PlotHeader
  padding 1vh 5vw
  display flex
  justify-content space-between
  width 100vw
  height 40px
  background-color #31bcf0
  background-image url(../../assets/brand-noise.png)
  background-size 150px 150px
  color #fff

  h1, form
    display inline-block

  h1
    font-size 1.7rem
    font-weight 100
    text-shadow rgba(#000, .15) 0 1px 1px

  label, button, select
    margin 4px 6px 10px 6px
    font-size 0.9rem

  @media screen and (max-width: breakpoint-large)

    h1
      margin-top 8px
      font-size 1.3rem

    label, button, select
      margin 6px 6px 10px 6px
      font-size 0.8rem
  
  @media screen and (max-width: breakpoint-medium)
    h1
      margin-top 9px
      font-size 1.1rem
    label, button, select
      font-size 0.7rem
      
    select.example-graph, label.example-graph
      display none
  
  @media screen and (max-width: breakpoint-small)
    h1
      margin-top 11px
      font-size 0.9rem
      
    label, button, select
      font-size 0.6rem
      
  @media screen and (max-width: breakpoint-tiny)
    h1
      font-size 0.8rem
    select.start-node, label.start-node, label.algorithm
      display none